[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
peewee = "*"
"jinja2" = "*"
"sanic-jinja2" = "*"
sanic-session = "*"

[dev-packages]
ptpython = "*"
litecli = "*"
black = "*"

[requires]
python_version = "3.8"
